<p>cards works!</p>

<div class="row">
    <div class="col-sm-4 mb-4" *ngFor="let post of postsArray">
        <!-- {{post | json}} >> with this we can saw the data on UI except going in console -->
        <div class="card">
            <div class="card-header">
                <h3>
                    {{post.title}}
                </h3>
            </div>
            <div class="card-body">
                <p class="m-0">
                    {{post.body}}
                </p>
            </div>
            <div class="card-footer">
                <strong>
                    userId : {{post.userId}}
                    id : {{post.id}} 
                </strong>
            </div>
        </div>
    </div>
</div>