.pro{
            background-color: #000;
            border-radius: 10px;
            color: #fff;
            font-size: 30px;
            height: 100px;
            width: 600px;
            text-transform: capitalize;
}
            
        