<!-- EXAMPLE OF PROPERY BINDING -->
<!-- <p style="background-color: rgb(18, 188, 18);color: #560909;border-radius: 10px;
border: 3px solid black;height: 75px;">
we are using ngStyle for applying css contionally as well as dynamically from TS..we can use css which we were using in css same as like that..
    This product is {{pName}} with id {{getProduct()}} is {{pStatus}}...
</p> -->
<p [ngStyle]="{backgroundColor:isProductAvailable ? 'blue' : '#ccc'}"
[ngClass]="{
                'text-white' : isProductAvailable,
                'text-danger': !isProductAvailable,
                     'p-4'   : isProductAvailable,
                     'p-2'   : !isProductAvailable
            
            }">
    The product is {{pName}} with id {{getProduct()}} 
    
<!-- if we want to change conditionally style or to chamge class then will use ngclass or ngstyle -->


    <strong *ngIf="isProductAvailable; else productNotAvail">and this product is available</strong>
    <ng-template #productNotAvail>  
        <strong>
            This product is not available...
        </strong>
    </ng-template>
    <!-- element-refrence/template-refrence>>It hold the element reference value if we want value of element reference -->
</p>
<!-- <p [innerHTML]="pName"> -->
    
    <!-- //<"'pName'">it convert in value -->
    
<!-- </p> -->

<p [innerHTML]="'IPhone'">
<!-- propery name will be square bracket and ite value is in double inverted comma -->
</p>

<hr>


<!-- <button class="btn btn-primary mb-4" [disabled]="isDisabled" >Add Product</button> -->

<!-- <button class="btn btn-primary mb-4" [disabled]="'true'">Add Product</button> -->

<input type="text" [value]="pName" class="form-control">